<html>
<body>
	<p>Hello Spring Boot</p>
	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Gender</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Zip Code</th>
		</tr>
		<tr th:each="person : ${persons}">
			<td th:text="${person.firstName}"></td>
			<td th:text="${person.lastName}"></td>
			<td th:text="${person.gender}"></td>
			<td th:text="${person.address.street}"></td>
			<td th:text="${person.address.city}"></td>
			<td th:text="${person.address.state}"></td>
			<td th:text="${person.address.zipcode}"></td>
		</tr>
	</table>
</body>
</html>
